* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --item-color: #ca36a3;
  --circles-background: #e2e2e2;
  --circles-container: #d4d253;
  --circles-container-odd: #7969e0;
  --circles-items: #36b656;
}

body {
  font-family: "Sixtyfour", sans-serif;
}
/*Squares*/
.squares {
  background-color: #b4eadf;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-containner {
  background-color: #61d138;
  width: 470px;
  height: 160px;
  border-radius: 4px;
  margin: 20px 10px;
  display: flex;
}

.box1 {
  justify-content: flex-start;
  align-items: end;
}
.flex-item1,
.flex-item2,
.flex-item3,
.flex-item4,
.flex-item5,
.flex-item6 {
  width: 78px;
  height: 78px;
  background: var(--item-color);
  margin: 20px;
  border-radius: 4px;
}

.flex-item2 {
  height: 128px;
}
.box2 {
  justify-content: space-evenly;
  align-items: stretch;
}

.box3 {
  justify-content: flex-end;
  align-items: center;
}

.box4 {
  justify-content: space-between;
  align-items: flex-start;
}

.flex-item4:nth-child(3) {
  align-self: baseline;
}

.box5 {
  justify-content: space-evenly;
  align-items: center;
}

.flex-item5:nth-child(1),
.flex-item5:nth-child(3) {
  height: 128px;
}

.item-5-letter {
  text-align: center;
  font-size: 10px;
  padding: 6px;
}

.box6 {
  justify-content: space-between;
  align-items: center;
  order: 1;
}

.flex-item6 {
  flex-direction: column;
  justify-content: end;
}

.flex-item6:nth-child(2) {
  flex: 1 100px;
}

/*Circles*/
.circles {
  background-color: var(--circles-background);
  padding-top: 20px;
}
.container-circles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.small-container {
  width: 350px;
  height: 220px;
  background-color: var(--circles-container);
  border-radius: 4px;
  margin: 20px 10px;
  display: flex;
}
.small-container:nth-child(odd) {
  background-color: var(--circles-container-odd);
}

.case1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: start;
}
.circles-item1,
.circles-item2,
.circles-item3,
.circles-item4,
.circles-item5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--circles-items);
  margin: 5px;
}
.case1::after {
  content: "";
  width: 100%;
}
.circles-item1:nth-child(n + 4) {
  order: 1;
}
.circles-item1:nth-child(4),
.circles-item1:nth-child(5) {
  align-self: baseline;
}

.case2 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-content: end;
}
.case2::before {
  content: "";
  width: 40%;
}

.case3 {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.circles-item3 {
  margin: 20px;
}
.case4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.circles-item4 {
  margin: 20px;
}

.case5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.case5::after {
  content: "";
  width: 100%;
}
.circles-item5:nth-child(n + 4) {
  order: 1;
}
.circles-item5 {
  margin: 10px;
}
